<html>
    <head>
        <title>Hendooneh Panel</title>
    </head>
    <body>
        {{ message }}
        <form action="" method="POST">
            Teleid:<input type="text" name="teleid"><br>
            Coin to add:<input type="text" name="coin"><br>
            Kharid ID:<input type="text" name="coinid"><br>
            Kharid Token:<input type="text" name="token"><br>
            Token Khali:<input type="text" name="tokenkhali"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>